.card_cont {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-sizing: border-box;
  margin: 20px 20px;
  max-width: 500px;
  min-width: 400px;
  max-height: 600px;
  overflow: scroll;
}
